.style_base__1VaYw{transition:bottom var(--transition-duration),opacity var(--transition-duration);position:fixed;left:0;right:0;z-index:100;background:#fff;border-top:1px solid #d9dff1}.style_show__2pclk{bottom:0;opacity:1}.style_hide__1Fmp_{bottom:-100px;opacity:0}